<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burbank</title>
</head>
<body>
  <fieldset>
    <legend>Router Outlet</legend>
    <h1 style="text-align:center">Burbank, CA</h1>
    <div>
    <span>Humidity: {{ humidity }}</span><br>
    <span>Temperature (Average): {{ temp }}</span><br>
    <span>Temperature (High): {{ tempMax }}</span><br>
    <span>Temperature (Low): {{ tempMin }}</span><br>
    <span>Status: {{ status }}</span>
    </div>
    <div>
    <img src="./../assets/burbank.jpeg" alt="no img">
    </div>


  </fieldset>
</body>
</html>